<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxc.blog.dao.BlogRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.qxc.blog.pojo.BlogRelationship">
    <id column="idx" jdbcType="INTEGER" property="idx" />
    <id column="fatherIdx" jdbcType="VARCHAR" property="fatheridx" />
    <result column="sonIdx" jdbcType="VARCHAR" property="sonidx" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idx, fatherIdx, sonIdx, title
  </sql>
  <select id="selectByExample" parameterType="com.qxc.blog.pojo.BlogRelationshipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blogrelationship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.qxc.blog.pojo.BlogRelationshipKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blogrelationship
    where idx = #{idx,jdbcType=INTEGER}
      and fatherIdx = #{fatheridx,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qxc.blog.pojo.BlogRelationshipKey">
    delete from blogrelationship
    where idx = #{idx,jdbcType=INTEGER}
      and fatherIdx = #{fatheridx,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qxc.blog.pojo.BlogRelationshipExample">
    delete from blogrelationship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qxc.blog.pojo.BlogRelationship">
    insert into blogrelationship (idx, fatherIdx, sonIdx, 
      title)
    values (#{idx,jdbcType=INTEGER}, #{fatheridx,jdbcType=VARCHAR}, #{sonidx,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxc.blog.pojo.BlogRelationship">
    insert into blogrelationship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        idx,
      </if>
      <if test="fatheridx != null">
        fatherIdx,
      </if>
      <if test="sonidx != null">
        sonIdx,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="fatheridx != null">
        #{fatheridx,jdbcType=VARCHAR},
      </if>
      <if test="sonidx != null">
        #{sonidx,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qxc.blog.pojo.BlogRelationshipExample" resultType="java.lang.Long">
    select count(*) from blogrelationship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blogrelationship
    <set>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.fatheridx != null">
        fatherIdx = #{record.fatheridx,jdbcType=VARCHAR},
      </if>
      <if test="record.sonidx != null">
        sonIdx = #{record.sonidx,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blogrelationship
    set idx = #{record.idx,jdbcType=INTEGER},
      fatherIdx = #{record.fatheridx,jdbcType=VARCHAR},
      sonIdx = #{record.sonidx,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxc.blog.pojo.BlogRelationship">
    update blogrelationship
    <set>
      <if test="sonidx != null">
        sonIdx = #{sonidx,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where idx = #{idx,jdbcType=INTEGER}
      and fatherIdx = #{fatheridx,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxc.blog.pojo.BlogRelationship">
    update blogrelationship
    set sonIdx = #{sonidx,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where idx = #{idx,jdbcType=INTEGER}
      and fatherIdx = #{fatheridx,jdbcType=VARCHAR}
  </update>
</mapper>